
/* Reset CSS */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}



/* Basic */

	body {
    background: rgba(128, 128, 128, 0);                     
    font-family: 'Avenir', sans-serif;                             
    font-size: 14pt;                                        
    font-weight: 270;
    line-height: 1.8em;                                         
    color: #777;
	}


	input, textarea, select {                                     
    font-family: 'Avenir', sans-serif;
    font-size: 18pt;
    font-weight: 270;
    line-height: 1em;
    color: #777;
	}

	h1, h2, h3, h4, h5, h6 {                                       
    font-weight: 270;
    color: #777;
    line-height: 1em;
	}


	h2 {                                                          
    font-size: 1.1em;
    letter-spacing: -1px;
	}

		h2.alt {                                                     
        color: #777;
		}

			h2.alt strong {                                        
            color: #777;
			}

	h3 {                        /* this is the basic body text */
    font-size: 0.8em;
	}

    h3caption {                        /* this is the basic body text with a higher z-index */
    font-size: 0.8em;
    z-index: -1;
	}


	header {
    margin: 0 0 2em 0;
	}

		header > p {
        margin: 1em 0 0 0;
		}

	
	strong, b {                                                  
    font-weight: 315;
    color: #777;
	}

	em, i {
    font-style: italic;
	}

	a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    outline: 0;
	}

		a:hover {
        color: rgba(128, 128, 128, 0.5);                                              
        border-bottom-color: rgba(128, 128, 128, 0.5);                               
		}

	sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
	}

	sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
	}

	hr {
    border: 0;
    border-top: solid 1px #ddd;
	}

	blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
	}

	p, ul, ol, dl, table {
    margin-bottom: 3.5em;                                                                            
	}
  

	br.clear {
    clear: both;
	}






.numberCircle {
width:25px;
height:25px;
border-radius:30px;
-webkit-border-radius:20px;
background:#38B2B2;
color:#fff;
text-align:center;
margin:auto;
font-size:18px;
padding:5px 0px 0px 0px;
}
.numberCircle p{
padding:170px 0px 0px 0px;
font-size:48px;
}




/* List */

	ul.default {
    list-style: disc;
    padding-left: 1em;
	}

		ul.default li {
        padding-left: 0.5em;
		}

	ul.icons {
    cursor: default;
	}

		ul.icons li {
        display: inline-block;
		}

		ul.icons a {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        border: 0;
		}

	ol.default {
    list-style: decimal;
    padding-left: 1.25em;
	}

		ol.default li {
        padding-left: 0.25em;
		}




/* Header */

	#header {                          
    position: fixed;                                  
    top: 0;
    left: 0;
    width: 320px;                                    
    height: 100%;
    color: #fff;
    background: rgba(0, 0, 0, 0.85);             
    text-align: right;
	}

	

		#header .icons {                                 
        font-size: 0.1em;                             
        margin: 0 0 1em 0;
        text-align: center;
		}

			#header .icons a {
            color: #41484c;
            transition: color 0.35s ease-in-out;
			}                                                            

	                                             




	#logo {
    position: relative;
    margin: 1em 1.2em 2em 0.2em;                    
    min-height: 48px;
    cursor: default;
	}

		#logo h1 {                                         
        position: relative;
        color: #fff;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1em;    
		}

		#logo p {                                             
        position: relative;
        display: block;
        font-size: 0.8em;    
        color: #fff;
        line-height: 1.25em;
        margin: 0.5em 0 0 0;
		}




	#nav ul li a {                                       
    display: block;
    padding: 0.5em 1.2em 0em 1.5em;   /* top, right, between (change this back to 0.5 eventually), left? */
    color: rgba(230, 230, 230, 0.5);                  
    outline: 0;
    border: 40;                          /* KZ: can change this back to zero to remove thin white lines */

	}


		#nav ul li a span {
        position: relative;
        display: block;
        font-size: 0.7em;    
		}

			#nav ul li a span:before {
            position: absolute;
            left: 0;
            color: #41484c;            
            text-align: center;
            width: 0.5em;           
            line-height: 0.5em;     
			}


/* KZ: added grid for resources icons */
/* KZ: info below from this tutorial: https://css-tricks.com/dont-overthink-it-grids/ */

	[class*='col-'] {
  float: left;
        padding: 0em 1.3em 0.1em 1em;   /* top, right, bottom, left */
      
}

.col-1 {
  width: 33.33%;
}
.col-2 {
  width: 33.33%;
}
.col-3 {
  width: 33.33%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* KZ added grid for resources icons */





/* KZ added scrolling slideshow  from: https://designshack.net/articles/css/infinitephotobanner/      */
* {margin: 0; padding: 0;}

body {
	<!-- src: http://subtlepatterns.com/?p=1045 -->
	background: url('dark_geometric.png');
}

#sscontainer {                   
	height: 100%;  
    width: 100%;  
	overflow: hidden;
	/*  margin: 50px auto;  */
	  /*background: white;  */
}


/*photobanner*/

.photobanner {
	height: 100%;
	width: 100%;
	
}

/*keyframe animations*/
.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

/* KZ added scrolling slideshow __END___      */




/* ?????  KZ   ????? */

#roundie                         /* KZ edit: rounded "slide" template */
{ 
    border-radius: 10px;
    background: #eeeeee;
    padding: 20px; 
    width: 100%;
    height: 700px; 
}

#header_row {
    border-radius: 10px;
    background: #ffffff;
    width:100%;
    float:top;
    height:25px;
    margin-right:2%;    
}

#subheader_row {
    border-radius: 10px;
    background: #ffffff;
    width:100%;
    float:top;
    height:20px;
    margin-right:2%; 
    margin-top:2%;
}

#content_row {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    float:relative;
    height:400px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_fullscreen {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    float:relative;
    height:500px;
    margin-right:2%;  
    margin-top:2%;
}


#content_row_fullscreen_left_image {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:58%;
    float:left;
    height:500px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_fullscreen_right_content {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:37%;
    float:right;
    height:500px;
    margin-top:2%;
}



#content_row_halfscreen {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    float:relative;
    height:250px;
    margin-right:2%;  
    margin-top:2%;
}


#content_row_threequarterscreen {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    float:relative;
    height:300px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_onequarterscreen {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    float:relative;
    height:110px;
    margin-right:2%;  
    margin-top:2%;
}



#content_row_two_col_right {
    border-radius: 10px;
    border:7px solid white;
    background: url(instructor_manual/instructor_manual.png);
    background: #ffffff;
    width:48%;
    float:right;
    height:300px; 
    margin-top:2%;
}

#content_row_two_col_left {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:48%;
    float:left;
    height:300px;
    margin-right:2%;  
    margin-top:2%;
}



#content_row_two_col_right_fullscreen {
    border-radius: 10px;
    border:7px solid white;
    background: url(instructor_manual/instructor_manual.png);
    background: #ffffff;
    width:48%;
    float:right;
    height:450px; 
    margin-top:2%;
}

#content_row_two_col_left_fullscreen {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:48%;
    float:left;
    height:450px;
    margin-right:2%;  
    margin-top:2%;
}


#content_row_three_col_left {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:left;
    height:250px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_three_col_left_bottom {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:left;
    height:150px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_three_col_middle {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:left;
    height:250px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_three_col_middle_bottom {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:left;
    height:150px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_three_col_right {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:right;
    height:250px;
    margin-right:2%;  
    margin-top:2%;
}

#content_row_three_col_right_bottom {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:31%;
    float:right;
    height:150px;
    margin-right:2%;  
    margin-top:2%;
}

#text_row {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    position: relative;
    float:left;
    margin-top:2%; 
    margin-right:2%;    
}

#text_row_top {
    border-radius: 10px;
    border:7px solid white;
    background: #ffffff;
    width:100%;
    position: relative;
    float:top;
    margin-top:2%; 
    margin-right:2%;    
}



img {                            /* KZ edit: this will make sure image size is constrained to the container it is placed in */
    position: relative;
    max-width: 100%;
    max-height: 100%;
}




#small_text {
     font-size: 8pt;  
       
}







/* Main */

	#main {
    margin-left: 300px;   
        margin-top: -55px;         /* KZ edit: not sure why need to make negative */
	}

		#main > section {
        margin: 0;
        overflow: hidden;
        padding: 4em 4em;
        text-align: center;
        background-image: url("images/overlay.png");           
		}

			#main > section.dark {
            color: #ddd;
            color: rgba(255, 255, 255, 0.75);      
			}












/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -5px;
  padding: 16px;
  color: darkgrey;
  
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* KZ position the prev button to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 25px;
  padding: 8px 12px;
  position: center;
  bottom: 25px;
  width: 100%;
  text-align: right;
}

p {     /* KZ: added definition for text HTML block over image */
   font-size: 12.5px;   /* KZ: added new values for text size */
    position: absolute; 
   top: 300px; 
   left: 0; 
   width: 100%; 
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}






















/* Mobile */                                                                

	@media screen and (max-width: 725px) {                                 

		/* Basic */

			body, input, textarea, select {
            font-size: 12pt;                                                 
			}

			h2 {
            font-size: 1.7em;                                                   
            letter-spacing: 0;
            font-weight: 270;                                                   
			}

			.container {
            padding: 0 12px 0 12px;                                              
			}

		/* List */

			ul.icons a {
            width: 1.5em;                                                   
            font-size: 1.3em;                                               
			}

		/* Main */

			#main > section {
            padding: 1.8em 0;                                                                                                             
			}

			#main section.cover {
            padding: 4em 0em;
			}

				#main section.cover header {
				padding: 0 1em;
				}



	}