html {
    background-color: #5f5f5f;
    background-image: url(images/IMG_BKGRD.jpg);
    background-attachment: fixed;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Ankelpants", Helvetica, Arial, sans-serif;
    font-size: 14
    px;
    line-height: 1.5em;
    color: #ffffff;
    background-color: #464646;
    opacity: 0.95;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #e3e3e3;
    font-weight: 600;
    line-height: 1.3em;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #007cdb;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    -webkit-animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 0px;
    display: ;
    margin: 0em ;
    max-width: 60%;
}

@-webkit-keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
    }
}

@keyframes colorize {
    0% {
        filter: grayscale(100%);
    }
    100% {
        filter: grayscale(0%);
    }
}
